<h1>Contacts</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts">
    <ng-template [ngTemplateOutlet]="loadTemplate(contact)!"
                 [ngTemplateOutletContext]="{ $implicit: contact}">
    </ng-template>
  </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-contact>
  <td>{{contact.id}}</td>
  <td>{{contact.name}}</td>
  <td>{{contact.email}}</td>
  <td>{{contact.phone}}</td>
  <td>
    <input type="button" value="Изменить" class="btn btn-default" (click)="edit(contact)" />
  </td>
  <td>
    <input type="button" value="Удалить" (click)="delete(contact)" class="btn btn-danger" />
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="edited!.id" readonly disabled class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="edited!.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="edited!.email" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="edited!.phone" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="update()" class="btn btn-success" />
  </td>
  <td>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </td>
</ng-template>
